/* Adjusting box styles for 2 boxes side by side */
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(253, 253, 190);
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(29, 29, 29, 0.2);
    max-width: 600px;
}

.box p{
    text-align: center;
    padding: 10px;
}

.box img{
    margin: 0 auto;
    align-items: center;
}

.stars{
    align-items: center;
    width: 50%;
    margin-left: 20%;
    padding: 10px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*back to top button for scrolling up*/
#back-to-top{
    position: fixed;
    display: none;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #3d3d3d;
    color:azure;
    cursor: pointer;
    border-radius: 5px;
}

#back-to-top:hover{
    background-color: #cccccc;
}
